<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post List</title>
</head>
<body>
    <h1>Welcome to the Post Page</h1>
    
    <h2>List of Posts</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each= "post : ${LesPosts}">
                <td th:text="${post.idpost}"></td>
                <td th:text="${post.content}"></td>
                <td th:text="${post.datecreation}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
