<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <div class="logo">
   
            <img src="logo.png" alt="Logo">
        </div>
        <div class="user-info">
            <p><strong>[[${name}]]</strong></p>
            <p th:if="${user != null}">[[${user.firstname}]] [[${user.lastname}]]</p>
            <p th:if="${user != null}" class="user-creation-date">Créé le [[${user.datecreation}]]</p>
        </div>
    </nav>

    <h1>Bienvenue sur la page des utilisateurs, [[${name}]] !</h1>
    

    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Date de création</th>
        </tr>
        <tr th:each="user : ${LesUsers}">
            <td th:text="${user.id_user}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.lastname}"></td>
            <td th:text="${user.datecreation}"></td>
        </tr>
    </table>
</body>
</html>
